manifest:
  remotes:
  - name: nxp
    url-base: https://github.com/NXP
  - name: nxp-zephyr
    url-base: https://github.com/nxp-zephyr
  - name: nxp-mcuxpresso
    url-base: https://github.com/nxp-mcuxpresso
  - name: qcbor_upstream
    url-base: https://github.com/laurencelundblade
  - name: tf_m_tests
    url-base: https://github.com/TrustedFirmware-M
  defaults:
    remote: nxp-mcuxpresso
  projects:
  - name: els_pkc
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: ELS PKC
      description: Cryptographic library running on NXP ELS and PKC Crypto Hardware
        IP
    path: mcuxsdk/components/els_pkc
    revision: 296d94ed5932d1a25a8d00f20e3454c3936ee85d
    url: https://github.com/NXP/els_pkc
    groups:
    - security
    - els_pkc
  - name: se_hostlib
    userdata:
      owner: null
      track_branch: mcux_main
      branch_flow: false
      display_name: Secure Element
      description: Secure Element
    path: mcuxsdk/middleware/se_hostlib
    revision: 410f88d9393d9b536f3900ac0e5acb019ee9d6f3
    submodules: false
    groups:
    - bifrost
  - name: secure-subsystem
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: secure-subsystem
      description: Secure subsystem library - SSS APIs
    path: mcuxsdk/middleware/secure-subsystem
    revision: b343c1053a7b59598661ee497ae749ab5b8fafd8
    url: https://github.com/nxp-mcuxpresso/mcux-secure-subsystem
    groups:
    - secure-subsystem
    - ble_nxp
  - name: edgelock
    userdata:
      owner: vit.solcik@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: Edgelock Firmware
      description: Edgelock Firmware
    path: mcuxsdk/firmware/edgelock
    revision: a18436b23473bb23022c791fe68905641e184a8c
    repo-path: mcux-edgelock
    groups:
    - edgelock
    - security
  - name: mbedtls
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: mbedtls
      description: mbedtls SSL/TLS library
    path: mcuxsdk/middleware/mbedtls
    revision: 3d140b49ed730d7e33d8cac2f2072532b97b30c7
    groups:
    - mbedtls
    - security
  - name: mbedtls3x
    userdata:
      owner: ruchika.gupta_1@nxp.com
      dev_branch: mcux_main
      track_branch: mcux_main
      branch_flow: false
      display_name: MbedTLS 3.X
      description: mbedtls SSL/TLS library version 3.X
    remote: nxp
    repo-path: nxp_mbedtls
    path: mcuxsdk/middleware/mbedtls3x
    revision: cc2a9f9ac4e941d99219564781108fc4e738dacb
    groups:
    - mbedtls3x
    - security
  - name: nxp_iot_agent
    userdata:
      owner: bojan.simoneta@nxp.com
      track_branch: main
      branch_flow: false
      display_name: nxp_iot_agent
      description: nxp_iot_agent
    remote: nxp
    repo-path: el2go-agent
    path: mcuxsdk/middleware/nxp_iot_agent
    revision: e819b212e30a934140cd56adf6d1beae6e64296d
    groups:
    - nxp_iot_agent
    - security
  - name: tfm
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: TFM
      description: Trusted Firmware - M Library
    path: mcuxsdk/middleware/tfm/tf-m
    remote: nxp
    repo-path: nxp_tf-m
    revision: 3188d9f9d7bdb462c770f8cb7ee8be7280711026
    groups:
    - tfm
  - name: psa_crypto_driver
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: main-dev
      branch_flow: false
      display_name: PSA CRYPTO DRIVER
      description: PSA crypto driver interface to use cryptographic library running
        on NXP crypto Hardware IP
    path: mcuxsdk/components/psa_crypto_driver
    revision: cd66a6fccf8a5fc710ccb0f08ba4f4ed56f56ca9
    url: https://github.com/NXP/psa_crypto_driver
    groups:
    - psa_crypto_driver
    - security
  - name: mmcau
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: MMCAU
      description: MMCAU
    path: mcuxsdk/middleware/mmcau
    revision: 2381e9a66cb034386b8a8a6c35c6dc2c8e853dca
    url: https://github.com/nxp-mcuxpresso/mcux-mmcau
    groups:
    - mmcau
    - security
  - name: psa-arch-tests
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: PSA Test Suite
      description: Arm Platform Security Architecture Test Suite
    path: mcuxsdk/middleware/tfm/psa-arch-tests
    remote: nxp
    repo-path: nxp_psa_arch_test
    revision: faecab500f20563fb0b1f5500e801f4225f9db73
    groups:
    - tfm
    - security
  - name: tf-m-tests
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
      display_name: TFM Test
      description: Trusted Firmware-M Tests
    path: mcuxsdk/middleware/tfm/tf-m-tests
    remote: tf_m_tests
    repo-path: tf-m-tests
    revision: 6f642014a8c255e163ae0bc4d21e327de694d6a2
    groups:
    - tfm
    - security
  - name: qcbor
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: master
      branch_flow: false
      display_name: TFM QCBOR
      description: Trusted Firmware-M QCBOR library
    path: mcuxsdk/middleware/tfm/qcbor
    revision: 751d36583a9ce1a640900c57e13c9b6b8f3a2ba2
    remote: qcbor_upstream
    repo-path: QCBOR
    groups:
    - tfm
    - security
  - name: secure_storage
    userdata:
      owner: ruchika.gupta_1@nxp.com
      track_branch: main
      branch_flow: false
      display_name: secure_storage
      description: secure storage library
    path: mcuxsdk/middleware/secure_storage
    remote: nxp-mcuxpresso
    revision: 49e1ded26283d783dbfc12868387170cd743a1f4
    repo-path: secure_storage
    groups:
    - secure_storage
    - security
  - name: sgi_pkc
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: main
      branch_flow: false
      display_name: SGI PKC
      description: Cryptographic library running on NXP SGI and PKC Crypto Hardware
        IP
    path: mcuxsdk/components/sgi_pkc
    revision: 5f621439b930a970f0f0d4149be7c1f8d46bdbf3
    url: https://github.com/nxp-mcuxpresso/sgi_pkc
    groups:
    - security
    - sgi_pkc
