manifest:
  remotes:
  - name: nxp
    url-base: https://github.com/NXP
  - name: nxp-zephyr
    url-base: https://github.com/nxp-zephyr
  - name: nxp-mcuxpresso
    url-base: https://github.com/nxp-mcuxpresso
  - name: qcbor_upstream
    url-base: https://github.com/laurencelundblade
  - name: tf_m_tests
    url-base: https://github.com/TrustedFirmware-M
  defaults:
    remote: nxp-mcuxpresso
  projects:
  - name: els_pkc
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/components/els_pkc
    revision: 133c233c26b6faff0099af148b78ec2f39b74ccd
    url: https://github.com/NXP/els_pkc
    groups:
    - security
    - els_pkc
  - name: se_hostlib
    userdata:
      owner: null
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/se_hostlib
    revision: 410f88d9393d9b536f3900ac0e5acb019ee9d6f3
    submodules: false
    groups:
    - bifrost
  - name: secure-subsystem
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/secure-subsystem
    revision: 5c2e5c46d702b2e370fbb942764aaa17b24ad48b
    url: https://github.com/nxp-mcuxpresso/mcux-secure-subsystem
    groups:
    - secure-subsystem
    - ble_nxp
  - name: edgelock
    userdata:
      owner: vit.solcik@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/firmware/edgelock
    revision: 8392f6e6366742ef65e53b089a4100e63d0d4154
    repo-path: mcux-edgelock
    groups:
    - edgelock
    - security
  - name: mbedtls
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/mbedtls
    revision: 1608d09ba2fac9cad07fd2bc603bc515aaeee3d1
    groups:
    - mbedtls
    - security
  - name: mbedtls3x
    userdata:
      owner: ruchika.gupta_1@nxp.com
      dev_branch: mcux_main
      track_branch: mcux_main
      branch_flow: false
    remote: nxp
    repo-path: nxp_mbedtls
    path: mcuxsdk/middleware/mbedtls3x
    revision: d1532b4604684c7088eaefb0d5d8c651e2d83911
    groups:
    - mbedtls3x
    - security
  - name: nxp_iot_agent
    userdata:
      owner: bojan.simoneta@nxp.com
      track_branch: main
      branch_flow: false
    remote: nxp
    repo-path: el2go-agent
    path: mcuxsdk/middleware/nxp_iot_agent
    revision: c11f9953e692000029d387c5c00e1a3310135a2f
    groups:
    - nxp_iot_agent
    - security
  - name: tfm
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/tfm/tf-m
    remote: nxp
    repo-path: nxp_tf-m
    revision: 488d81d0b9d971e41b77521ce055bca2c526a29f
    groups:
    - tfm
  - name: psa_crypto_driver
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: main-dev
      branch_flow: false
    path: mcuxsdk/components/psa_crypto_driver
    revision: 2b1ed585edd810f51f82b44a0cd91c0cc6de9aab
    url: https://github.com/NXP/psa_crypto_driver
    groups:
    - psa_crypto_driver
    - security
  - name: mmcau
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/mmcau
    revision: 2381e9a66cb034386b8a8a6c35c6dc2c8e853dca
    url: https://github.com/nxp-mcuxpresso/mcux-mmcau
    groups:
    - mmcau
    - security
  - name: psa-arch-tests
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/tfm/psa-arch-tests
    remote: nxp
    repo-path: nxp_psa_arch_test
    revision: 8014e2fde9fae3b6b7611e57819a85bbba8e62df
    groups:
    - tfm
    - security
  - name: tf-m-tests
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: mcux_main
      branch_flow: false
    path: mcuxsdk/middleware/tfm/tf-m-tests
    remote: tf_m_tests
    repo-path: tf-m-tests
    revision: 6f642014a8c255e163ae0bc4d21e327de694d6a2
    groups:
    - tfm
    - security
  - name: qcbor
    userdata:
      owner: waqar.tahir@nxp.com
      track_branch: master
      branch_flow: false
    path: mcuxsdk/middleware/tfm/qcbor
    revision: 751d36583a9ce1a640900c57e13c9b6b8f3a2ba2
    remote: qcbor_upstream
    repo-path: QCBOR
    groups:
    - tfm
    - security
  - name: secure_storage
    userdata:
      owner: ruchika.gupta_1@nxp.com
      track_branch: main
      branch_flow: false
    path: mcuxsdk/middleware/secure_storage
    remote: nxp-mcuxpresso
    revision: 49e1ded26283d783dbfc12868387170cd743a1f4
    repo-path: secure_storage
    groups:
    - secure_storage
    - security
  - name: sgi_pkc
    userdata:
      owner: vit.chmelar@nxp.com
      track_branch: main
      branch_flow: false
    path: mcuxsdk/components/sgi_pkc
    revision: 5f621439b930a970f0f0d4149be7c1f8d46bdbf3
    url: https://github.com/nxp-mcuxpresso/sgi_pkc
    groups:
    - security
    - sgi_pkc
